
		.iyale{font-style:normal; color:purple; font-size:50px; font-weight:bold;}
		.iyawo{font-variant:small-caps; font-size: 45px; font-stretch:semi-expanded; font-style:initial; color:magenta;}
		.sidechick{font-size:35px; color:brown; font-weight:bold; font-style:italic;}



	.peter{font-style:bold; color:green; font-size:40; font-weight:bold;}
	.john{font-style:serif; color:gray; font-size:45; font-weight:lighter; color:white; text-decoration:line-through; }
	.abel{font-size:50; text-decoration:wavy; text-align:justify; text-transform:capitalize; font-weight:bold; color:red;}
	.mattew{}
	.hybrid
	.paul
	.mary
	.joseph
	.samson
	.yemi
	.obadiah
	.jonah
	.abraham
	.daniel
	.solomon
	.bimpe
	.rachael
	.dayo
	.ayo
	.ganiyu
	.saheed