.peter{font-style:bold; color:green; font-size:40px; font-weight:bold;}
.paul{font-size:50; text-decoration:wavy; text-align:justify; text-transform:capitalize; font-weight:bold; color:red;}
.yemi{font-style:serif; color:gray; font-size:45; font-weight:lighter; color:white; text-decoration:line-through;}
.bimpe{font-variant:small-caps; font-size: 45px; font-stretch:semi-expanded; font-style:initial; color:magenta;}
.ayo{font-size:65px; color:brown; font-weight:bold; font-style:italic;}
.ganiyu{font-weight:bold; font-size:55; color:purple; text-align:center; font-style:italic;}