.john{font-style:bold; color:green; font-size:40px; font-weight:bold;}
.mattew{font-size:50px; text-decoration:wavy; text-align:justify; text-transform:capitalize; color:blue;}
.mary{font-size:60px; color:gray; font-weight:bold; text-align:center; }
.obadiah{font-size:70px; color:purple; font-weight:bold; font-style:italic; }
.abraham{font-size:80px; color:pink; font-style:italic; text-decoration:underline;}
.rachael{font-size:85px; color:yellow; font-style:bold; text-decoration:overline;}
.saheed{font-size:90px; color:brown; font-variant:small-caps; font-stretch:expanded; }
.abel{font-size:75px; text-decoration:wavy; text-align:justify; text-transform:capitalize; color:blue;}
.hybrid{font-variant:small-caps; font-size: 45px; font-stretch:semi-expanded; font-style:initial; color:magenta;}
.joseph{font-size:35px; color:brown; font-weight:bold; font-style:italic;}
.samson{font-style:normal; color:purple; font-size:50px; font-weight:bold;}
.jonah{font-style:initial; color:green; font-weight:bold; font-size:65px; }
.daniel{font-variant:inherit; color:black; font-size:90px; font-style:italic;}
.solomon{font-size:35px; color:white; font-style:bold; font-weight:bold;}
.dayo{font-size:60px; color:gray; font-weight:bold; text-align:left; }